.card {
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
  box-shadow: 0px 0px 5px 5px rgb(207, 207, 207);
  width: 100%;
  margin: 20px 0px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.03);
}

.poster-details {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  display: flex;
}

.poster img {
  width: 150px;
  height: 190px;
  object-fit: cover;
}

.details {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details h2:hover {
  color: red;
}

.details p {
  font-size: large;
  color: gray;
}

.review {
  display: flex;
  justify-content: space-between;
}

.review textarea {
  width: 18rem;
  border: none;
  font-size: 20px;
  background-color: rgb(218, 218, 218);
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px gray;

  align-items: center;
}
textarea::-webkit-input-placeholder {
  color: rgb(156, 156, 156);
  padding: 3px;
}

.review button {
  padding: 6px 20px;
  font-weight: 900;
  background-color: rgb(96, 223, 184);
  border: none;
  color: rgb(255, 250, 250);
  transition: 0.3s;
  border-radius: 4px;
}

.review button:hover {
  background-color: aqua;
}
.review p {
  font-style: italic;
  font-size: medium;
  color: rgb(2, 138, 156);
}
.review p span {
  font-weight: 700;
  font-style: normal;
  color: rgb(51, 255, 0);
  margin-left: 20px;
}

.watched {
  background-color: rgb(99, 99, 99);
  padding: 10px 20px;
  width: 150px;
  border-radius: 10px;
  /* background-color: rgb(0, 140, 255); */
  border: none;
  color: white;
  font-size: large;
  cursor: pointer;
}
.unwatched {
  background-color: rgb(2, 1, 58);
  padding: 10px 20px;
  border-radius: 10px;
  width: 150px;

  /* background-color: rgb(0, 140, 255); */
  border: none;
  color: white;
  font-size: large;
  transition: 0.5s;
  cursor: pointer;
}
.unwatched:hover {
  background-color: rgb(0, 0, 94);
  transform: scale(1.05);
}

#rate {
  color: rgb(104, 253, 111);
  display: flex;
  font-weight: 700;
}

#rate span:nth-child(1) i {
  color: yellow;
}
#rate span {
  color: gray;
}

.added {
  height: 100%;
  padding-right: 20px;
}
.delete i:nth-child(2) {
  margin: 10px 0px 50px 50px;
  font-size: 30px;
  color: rgb(247, 149, 149);
  transition: all 0.5s;
}
.delete i:nth-child(1) {
  margin-right: -20px;
  /* margin: 10px 0px 0px 50px; */
  font-size: 30px;
  color: rgb(70, 141, 248);
  transition: all 0.5s;
}

.delete:hover {
  color: red;
  transform: scale(1.05);
}

.star-filled i {
  color: yellow;
}

.star i:hover {
  color: yellow;
  transform: scale(1.5);
}
